<p style="color: green"><%= notice %></p>

<%= link_to "New shortened url", "/" %>

<h1>Shortened urls</h1>

<div id="shortened_urls">
  <% @shortened_urls.each do |shortened_url| %>
    <%= render shortened_url %>
  <% end %>
</div>


